{% extends 'open_food_facts/base.html' %}
{% load static %}

{% block content %}

<header class="masthead" id="search">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center" id="listing">
          {% if products|length_is:"0" %}
                <div class="text-center" id="no-results">
                  {% block div %} {% endblock %}
                </div>

              {% else %}
                {% for product in products %}
                    <div class="col-sm-4 text-center">
                    {{ product.id }}
                    </div>
                    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
                    {% endfor %}

                    {% endif %}

              {% if paginate %}
              <div class="clearfix"></div>
              <nav aria-label="">
                <ul id="pagination">
                   {% if products.has_previous %}
                      <li class="page-item">
                        <a href="?page={{ products.previous_page_number }}"
                           class="page-link previous">&laquo;</a>
                      </li>
                   {% else %}
                      <li class="page-item disabled">
                        <span class="page-link previous">&laquo;</span>
                      </li>
                    {% endif %}

                    {% for i in products.paginator.page_range %}
                        {% if i <= products.number|add:3 and i >= products.number|add:-3 %}
                            <li>
                                <a class="page-item" href="?page={{forloop.counter}}">{{forloop.counter}} </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if products.has_next %}
                      <li class="page-item">
                        <a href="?page={{ products.next_page_number }}"
                           class="page-link next">&raquo;</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link next">&raquo;</span>
                      </li>
                    {% endif %}
                </ul>
        {% endif %}

      </div>
    </div>
</header>


{% endblock %}